<div class="uk-offcanvas-content">
  <div class="tm-section-texture">
    <div class="uk-navbar-container uk-navbar-transparent uk-sticky uk-sticky-fixed">
      <div class="uk-container uk-container-expand">
        <nav class="uk-navbar">
          <div class="uk-navbar-left">
            <a routerLink="/players" class="uk-navbar-item uk-logo uk-active">
              Dolrath
            </a>
          </div>
        </nav>
      </div>
    </div>

    <div class="uk-container uk-container-small uk-position-relative">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
